.customer {

}

.subcompany-form {
    border-left: 1px solid #ddd;
}

.contact-info {
    margin-top: 15px;
    width: 150px;
}

.associate-item {
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
}

.customer-nav {
    width: 150px;
}

.visit-record-item {
    padding: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
}

.msa-list-item {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    &:not(:first-child) {
        margin-top: 15px;
    }
}

.customer-cda {
    margin-top: 10px;
    .fix-head-list {
        .fix-body-wrap {
            .row-container {
                &:nth-of-type(odd) {
                    background-color: rgba(0, 255, 0, 0.1);
                }
                &:nth-of-type(even) {
                    background-color: rgba(0, 255, 0, 0.05);
                }
                &:hover {
                    background-color: rgba(0, 0, 255, 0.1);
                }
                &.selected {
                    background-color: rgba(0, 0, 255, 0.15);
                }
            }
        }
    }
}

.supplier-broker-item {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    .remove-broker-container {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
