blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: border-box;
    }
}

html, body, #root {
    height: 100%;
}

body {
    font-size: 12px;
}

.app {
    height: 100%;

    & > aside {
        height: 100%;
        width: 200px;
        overflow: hidden;
        float: left;
        display: flex;
        flex-direction: column;

        .brand-name {
            color: #F3F6F5;
            background-color: #555C78;
            font-size: 20px;
        }

        .nav-container {
            flex: 1;
            background-color: #4F556D;

            .modules, .recent-open {
                header {
                    cursor: pointer;
                    border: 1px solid #efefef;
                    border-radius: 5px;
                    background-color: #efefef;
                    margin-right: 5px;
                    padding: 7px 15px;
                    font-size: 14px;
                }
                main {
                    &.leave {
                        animation: slide-up .5s;
                        animation-fill-mode: forwards;
                    }
                }
            }

            .recent-open {
                margin-top: 15px;
            }
        }

        .nav-items {
            li {
                position: relative;
                cursor: pointer;
                transition: all 0.5s;
                color: #ccc;

                a {
                    display: block;
                    padding: 10px 20px;
                    width: 100%;
                    color: #ccc;
                }

                &:hover {
                    color: #EFF4FA;
                    background: lighten(#4F556D, 10%);
                }

                &.active {
                    color: #fff;
                    background: darken(#4F556D, 10%);

                    a {
                        color: #fff;
                    }

                }
                &.active:after {
                    transition: height 0.5s;
                    z-index: 1;
                    content: '';
                    position: absolute;
                    width: 5px;
                    top: 10px;
                    left: 7px;
                    bottom: 10px;
                    background-color: #ff4400;
                }
            }
        }
    }

    & > main {
        margin-left: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;

        header {
            height: 60px;
        }

        .app-function-page {
            flex: 1;
            background: #f0f3f4;
            color: #3c3c3c;
        }
    }
}

.__select1-container {
    &.small {
        .selected-item {
            .select-item-text {
                padding: 4px 6px;
            }
        }
        .dropdown {
            height: 20px;
        }
    }
}
