.clients {

}

.subcompany-form {
    border-left: 1px solid #ddd;
}

.contact-info {
    width: 150px;
}

.associate-item {
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
}
