
.button {
    box-sizing: border-box;
    padding: 8px 12px;
    //border: 1px solid #3A82D7;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: #3A82D7;

    &.danger {
        background-color: #d9534f;
    }

    &.small, &.sm {
        padding: 4px 6px;
        font-size: 12px;
    }

    &.middle, &.md {
        padding: 6px 8px;
        font-size: 12px;
    }

    &.block {
        width: 100%;
    }

    & + .button {
        margin-left: 5px;
    }

    &[disabled] {
        background-color: #ccc;
    }
}
