.contract {

}

.contract-nav {
    border-left: 1px solid #e6e6e6;
    width: 150px;
}

.progress-item {
    border-top: 1px solid #e6e6e6;
    margin-bottom: 7px;
    position: relative;

    &:last-of-type {
        border-bottom: 1px solid #e6e6e6;
    }
}

.remove-progress {
    position: absolute;
    top: 5px;
    right: 5px;
}

.add-payment-node-info-first {
    color: #ccc;
    text-align: center;
    margin: 10px 0;
}

.make-collection-item {
    &:not(:last-child) {
        border-bottom: 1px solid #e6e6e6;
    }
}
