.input {

    &.default-input {
        width: 100%;
        color: #333;
        border: 1px solid #cfdadd;
        border-radius: 3px;
        padding: 4px 10px;
        outline: none;

        &[type=text] {
            height: 32px;
        }

        &:focus {
            border: 1px solid #00a854;
        }

        &.invalid {
            border: 1px solid #d9534f;
        }

        &.small, &.sm {
            line-height: 1;
            padding: 3px 7px;
        }
    }
}

input[disabled] {
    cursor: not-allowed;
    background: #eee;
    color: gray !important;
}

.money-input {
    letter-spacing: 1.5px;
}
