.todo-remind {
    display: flex;
    flex-direction: column;

    .back-to-all {
        cursor: pointer;
        display: inline-block;
        margin-left: 15px;
        width: 100px;
        padding: 4px 7px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .todo-remind-list {
        font-family: monospace;
        overflow: auto;
        padding: 15px;
    }

    .todo-remind-item {
        transition: all .5s;
        box-shadow: 1px 1px 10px #aaa;
        border-radius: 4px;
        background: #fff;

        &:not(:first-child) {
            margin-top: 10px;
        }

        .content {
            margin: 10px 0;
        }

        .relevant-item {
            color: gray;
        }

        .relevant-type {
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 4px;
            line-height: 1;
            padding: 3px 7px;
            color: #3db8c1;
        }
        .relevant-type-name {
            margin-left: 5px;
            text-decoration: underline;
        }

        .send-text {
            margin-left: 7px;
            color: #aaaaaa;
        }
    }
    .todo-remind-status {
        border-left: 1px solid #ddd;
        width: 150px;
    }
}

.search-box {
    display: flex;
    .choice-category {
        width: 100px;
        margin-right: 5px;
    }
    .relevant-item-category {
        .selected-item {
            .select-item-text {
                padding: 4px;
            }
        }
        .dropdown {
            height: 22px;
        }
    }

}

.relevant-item-list {
    overflow: auto;
    max-height: 400px;
}
