.label-and-input {
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-unit {
    padding: 10px 0 5px;
    border-bottom: 1px solid #e6e6e6;
}

.text-and-button {
    margin: 5px 5px 5px 0;
}

.tip, .input-unit-illustrate {
    color: gray;
}

.input-label {
    width: 150px;
}

.input-group {
    padding: 5px 5px 5px 0;
    .label-and-input {
        .input-label {
            width: 120px;
        }
    }
}

.select-contact-and-show-info {
    .label-and-input {
        .input-label {
            width: 80px;
        }
    }
}

.row-line {
    border-bottom: 1px solid #e6e6e6;
}

.category-title {
    margin-left: -15px;
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 7px;
    .icon {
        background: #00a854;
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 16px;
    }
    span {
        color: #999;
        margin-left: 5px;
    }
}

.btn-icon {
    vertical-align: middle;
    height: 12px;
    margin-right: 3px;
}

.upload-btn-icon {
    vertical-align: middle;
    height: 10px;
    margin-right: 4px;
}

.serial-number-container {
    width: 40px;
    border-right: 1px solid #e6e6e6;
    margin-right: 15px;

    .serial-number {
        border: 1px solid #ccc;
        border-radius: 100%;
        width: 20px;
        margin: 15px 0;
        text-align: center;
    }
}

.item-index {
    width: 75px;
    margin-top: 30px;
    border-right: 1px solid #e6e6e6;
}

.body-box {
    margin: -15px;
    height: calc(100% + 30px);
}

.form-container {
    height: 100%;
    overflow: auto;
    margin: 0 0 -15px 0;
    padding: 0 15px;
}

.nav-category-group {
    li {
        cursor: pointer;
        padding: 7px 10px;
        border-bottom: 1px solid #e6e6e6;

        &.active {
            &:before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 16px;
                vertical-align: middle;
                margin-right: 10px;
                background-color: #ff4400;
            }
        }
        span {
            text-align: center;
        }
    }
}

.add-icon, .remove-icon {
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
    width: 18px;
    height: 28px;
    margin: 0 6px;
    align-items: center;
    img {
        width: 100%;
    }
}

.recent-open-type {
    display: inline-block;
    line-height: 1;
    color: rgba(255, 255, 255, .3);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 7px;
    padding: 1px 4px;
}

.account-info-header {
    text-align: center;
    font-size: 13px;
}

.account-info {
    font-size: 13px;

    .account-info-item {
        padding: 7px 0 10px;

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }

        .account-info-title {
            margin-bottom: 3px;
        }
    }
}
