.label-and-input {
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-unit {
    padding: 10px 0 5px;
    border-bottom: 1px solid #e6e6e6;
}

.tip, .input-unit-illustrate {
    padding: 6px 0 10px;
    color: gray;
}

.input-label {
    width: 150px;
}

.input-group {
    padding: 5px 5px 5px 0;
}

.row-line {
    border-bottom: 1px solid #e6e6e6;
}

.category-title {
    margin-left: -15px;
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 7px;
    .icon {
        background: #00a854;
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 16px;
    }
    span {
        color: #999;
        margin-left: 5px;
    }
}

.serial-number {
    width: 40px;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    margin-right: 15px;
}

.item-index {
    width: 75px;
    margin-top: 30px;
}

.body-box {
    margin: -15px;
    height: calc(100% + 30px);
}

.form-container {
    height: 100%;
    overflow: auto;
    margin: 0 0 -15px 0;
    padding: 0 15px;
}

.nav-category-group {
    li {
        cursor: pointer;
        padding: 7px 10px;
        border-bottom: 1px solid #e6e6e6;

        &.active {
            &:before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 16px;
                vertical-align: middle;
                margin-right: 10px;
                background-color: #ff4400;
            }
        }
        span {
            text-align: center;
        }
    }
}

.add-icon, .remove-icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 18px;
    margin: 0 6px;
    img {
        width: 100%;
    }
}
