.fix-head-list {
    .head-container {
        display: flex;

        .item {
            background-color: #b9def0;
            padding: 10px 0 10px 15px;
            color: #666;
        }
    }

    .row-container {
        display: flex;

        .item {
            padding: 15px 0 15px 10px;
        }

        &:nth-of-type(odd) {
            background-color: rgba(220, 230, 240, 0.4);
        }
        &:nth-of-type(even) {
            background-color: rgba(200, 210, 220, 0.1);
        }

        &:hover {
            background-color: rgba(46, 213, 86, 0.2);
        }
        &.selected {
            background-color: rgba(46, 213, 86, 0.5)
        }
    }
}
