blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", Roboto,
    "PingFang SC", "Hiragino Sans GB", SimSun, "Microsoft YaHei", sans-serif;
    line-height: 1.5;
    color: #333;
}

/*
button, input, select, textarea {
    font: 100% "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
*/

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.pl5 {
    padding-left: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.clearfix {
    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bb {
    border-bottom: 1px solid #ddd;
}

.bl {
    border-left: 1px solid #ddd;
}